<% content_for(:title, t('.title')) %>
<div class="flex items-center justify-center py-8 px-4 sm:px-6 lg:px-8 bg-[#FDFDFD]">
  <div class="max-w-md w-full space-y-8 bg-white p-10 rounded-3xl shadow-lg border border-gray-100">
    <div class="text-center">
      <h2 class="font-mplus text-2xl md:text-3xl font-bold text-[#2C5159]">
        <%= t('.title') %>
      </h2>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "mt-8 space-y-6" }) do |f| %>
      <%= render "shared/error_messages", object: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field block">
        <%= f.label :password, t('.new_password'), class: "block mb-2 text-sm font-bold text-[#2C5159]" %>
        <% if @minimum_password_length %>
          <span class="text-xs text-gray-500 font-normal ml-1">(<%= @minimum_password_length %>文字以上)</span>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "appearance-none relative block w-full px-4 py-3 border border-gray-300 text-gray-900 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#6BAFB9] focus:border-[#6BAFB9] focus:z-10 sm:text-sm transition-all" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, t('.confirm_new_password'), class: "block mb-2 text-sm font-bold text-[#2C5159]" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none relative block w-full px-4 py-3 border border-gray-300 text-gray-900 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#6BAFB9] focus:border-[#6BAFB9] focus:z-10 sm:text-sm transition-all" %>
      </div>

      <div class="actions flex justify-center items-center">
        <%= f.submit t('.change_my_password'), class: "px-4 py-2 bg-[#2C5159]/85 text-[#FDFDFD] font-mplus rounded-lg hover:bg-[#2C5159]/75" %>
      </div>
    <% end %>
  </div>
</div>
