<header class="sticky top-0 z-50 w-full bg-[#D6EFED]/95 backdrop-blur-sm border-b-4 border-[#6BAFB9]/90 shadow-sm font-montserrat text-[#2C5159]">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full">
    <div class="flex justify-between items-center h-27">
      <div class="flex-shrink-0 flex items-center">
        <%= link_to foods_path, class: "group flex items-center hover:opacity-70 transition-opacity" do %>
          <%= image_tag 'Fridge_Note_Logo.png', alt: "FridgeNoteロゴ", class: "w-20 h-25" %>
          <h1 class="text-xl md:text-3xl font-bold tracking-wide">
            Fridge <br>Note
          </h1>
        <% end %>
      </div>

      <div class="font-mplus flex items-center gap-4 text-base">
        <%= link_to notifications_path, data: { turbo_frame: :modal }, class: "text-[#2C5159]/80 hover:text-[#6BAFB9] transition-colors p-1" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
          </svg>
        <% end %>
        <%= link_to "食材一覧", foods_path, class: "block font-bold hover:text-[#6BAFB9] transition-colors" %>
        <%= link_to "買い物リスト", "#", class: "block font-bold hover:text-[#6BAFB9] transition-colors" %>
        <%= link_to "マイページ", user_path(current_user), class: "block font-bold hover:text-[#6BAFB9] transition-colors" %>
        <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "font-bold border-2 border-[#2C5159] text-[#2C5159] px-4 py-2 rounded-full hover:bg-[#2C5159] hover:text-white transition-all" %>
      </div>
    </div>
  </div>
</header>
