<%= form_with(model: food, local: true, class: "space-y-6") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-4">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="mb-4">
    <%= f.label :category_name %>
    <%= f.collection_select :category_name, @categories, :id, :name, prompt: "カテゴリー" %>
  </div>
  <div class="mb-4">
    <%= f.label :expiry_date %>
    <%= f.datetime_field :expiry_date %>
  </div>
  <div class="mb-4">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, step: :any %>
  </div>
  <div class="mb-4">
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>
  <div class="mb-4">
    <%= f.label :memo %>
    <%= f.text_area :memo %>
  </div>
  <div class="mb-4">
    <%= f.submit "登録" %>
  </div>
<% end %>
