<% content_for(:title, t('.title')) %>
<div class="flex flex-col max-w-6xl w-full mx-auto px-4 sm:px-6 lg:px-8 py-8 bg-[#FDFDFD]/90">
  <div data-controller="search-form">
    <div class="flex justify-between items-center mb-5 px-4">
      <h1 class="font-montserrat text-xl md:text-2xl font-bold text-[#2C5159]">
        <%= t('.title') %>
      </h1>
      <div class="flex items-center space-x-3">
        <%= link_to t('.add_food'), new_food_path, class: "bg-[#2C5159]/90 text-white px-4 py-2 rounded-lg hover:bg-[#2C5159]/70" %>
        <div data-action="click->search-form#toggle" class="cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </div>
      </div>
    </div>
    <%= render 'search_form', search_form: @search_form %>
  </div>

  <div class="space-y-6"><%# 子要素どうしの縦の間隔指定 %>
    <% if @foods.present? %>
    <%# スマホ：1列／タブレット・PC：2列／モニター：3列 %>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <%= render @foods %>
      </div>
    <% elsif current_user.foods.empty? %>
      <div class="text-center py-20 bg-white rounded-3xl border-2 border-dashed border-gray-200">
        <p class="font-bold font-mplus text-[#2C5159]">
          <%= t('.no_foods') %>
        </p>
      </div>
    <% else %>
      <div class="text-center py-20 bg-white rounded-3xl border-2 border-dashed border-gray-200">
        <p class="font-bold font-mplus text-[#2C5159]">
          <%= t('.no_search_results_html') %>
        </p>
      </div>
    <% end %>
    <div class="flex justify-center">
      <%= paginate @foods %>
    </div>
  </div>
</div>
