<%# app/views/shopping_items/_shopping_item.html.erb %>
<div id="<%= dom_id(shopping_item) %>" class="bg-[#FDFDFD]/90 p-4 rounded-xl shadow-sm border border-gray-200 flex justify-between items-center">
  <div class="flex-1 text-lg md:text-xl font-bold">
    <p class="font-bold text-[#2C5159] text-lg"><%= shopping_item.name %></p>
    <% if shopping_item.memo.present? %>
      <p class="text-sm text-gray-500 mt-1"><%= shopping_item.memo %></p>
    <% end %>
  </div>

  <div class="flex items-center space-x-2">
    <%# 変更点: 引っ越し元のIDを渡しつつ、Turbo Frame "modal" をターゲットにする %>
    <%= link_to new_food_path(shopping_item_id: shopping_item.id), 
                data: { turbo_frame: "modal" }, 
                class: "text-[#2C5159]/80 hover:text-[#6BAFB9] transition-colors p-1" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-5 h-5 md:w-6 md:h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
      </svg>
    <% end %>
    <%= link_to shopping_item_path(shopping_item), id: "button-delete-#{shopping_item.id}", data: { turbo_method: :delete, turbo_confirm: t('shopping_items.index.are_you_sure') }, class: "text-red-400 md:text-[#2C5159]/80 hover:text-red-400 transition-colors p-1" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 md:w-6 md:h-6">
        <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z" clip-rule="evenodd" />
      </svg>
    <% end %>
  </div>
</div>
