<% content_for(:title, t('.title')) %>
<div class="flex flex-col max-w-6xl w-full mx-auto px-4 sm:px-6 lg:px-8 py-8 bg-[#FDFDFD]/90">
  <div class="flex justify-between items-center mb-5 px-4">
    <h1 class="font-montserrat text-xl md:text-2xl font-bold text-[#2C5159]">
      <%= t('.title') %>
    </h1>
  </div>

  <%# --- ここにインラインフォームを追加 --- %>
  <div class="font-montserrat mb-8 bg-[#FDFDFD]/90 px-4 py-1 my-2 rounded-xl shadow-sm border border-gray-200">
    <%= form_with model: @shopping_item, id: "new_shopping_item_form", class: "flex items-center space-x-4" do |f| %>
      <div class="flex-1">
        <%= f.text_field :name, placeholder: "何を買いますか？", required: true, class: "w-full text-lg md:text-xl font-bold border-gray-300 focus:ring-[#2C5159] focus:border-[#2C5159]" %>
      </div>
      <%= f.submit "追加", class: "bg-[#2C5159] text-white px-6 py-2 rounded-lg hover:bg-[#2C5159]/80 cursor-pointer whitespace-nowrap" %>
    <% end %>
  </div>

  <div class="space-y-6">
    <% if @shopping_items.present? %>
      <div id="shopping_items_list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
        <%= render @shopping_items %>
      </div>
    <% elsif current_user.shopping_items.empty? %>
    <% end %>
    
    <div class="flex justify-center">
      <%= paginate @shopping_items %>
    </div>
  </div>
  <div class="flex justify-center">
    <%= paginate @shopping_items %>
  </div>
</div>
